@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --nav-link-color:#3C354F;
    --p-tag-color:#534C64;
    --heading-color:#0B0223;
    --linear-pink-color:linear-gradient(90deg,#FF42A5 0%, #FF42A5 100%);
    --linear-heading-color:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);

}
/* Default Style */
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 25px;
}
/* Header Section Style */
.header{
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding-top: 20px;

}
.logo-content{
    display: flex;
    align-items: center;
}
.logo-content img{
    width: 30%;
    margin-right: 15px;
}
.logo{
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 700;
}
.logo span{
    background: var(--linear-pink-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: var(--nav-link-color);
}
.btn-icon{
    border-radius: 8px;
    border: 0;
    background: #0b02231a;
    padding: 11px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* Banner Section Style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 60%;
}
.banner-title{
    color:var(--heading-color);
    font-size: 2.9rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-text{
    font-size: 5.2rem;
    font-weight: 800;
    text-transform: uppercase;
    background:var(--linear-heading-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-para{
    color: var(--p-tag-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;

}
.btn{
    color: #FFF;
    font-size:1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 45px;
    border: 0;
    gap: 10px;
    margin-right: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.btn1{
    background: var(--linear-pink-color) ;
}
.btn2{
    background: #4EC5F7;
}
.banner img{
    width: 102%;
}

/* Main Section */
main section{
    margin-top: 50px;
    margin-bottom: 50px;

}

/*Online Games video Section Style*/
.games-title{
    color:var(--heading-color);
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700;

}
.games-title span{
    background: var(--linear-heading-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.games-description{
    color:var(--p-tag-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}
.games-video{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 15px 0;
}
.videos img{
    width: 280px;
    height: 350px;
}

.videos-title{
    color: var(--p-tag-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
    padding: 8px 0;
}

/* Play Instantly Section Style */
.play-instantly{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-content{
    position: relative;
    bottom: 125px;
    
}
.play-title{
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 50px;
    color: var(--heading-color);
}
.play-title span{
    background:var(--linear-heading-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-description{
    color: var(--p-tag-color);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 30px;
}
.play-image{
    width: 50%;
    /* margin: 0 30px; */
    margin-right: 30px;
}
.play-image img{
    width: 630px;
    height: 630px;
}
.play-sm-img{
    position: relative;
    bottom: 295px;
    right: 110px;
}
.play-sm-img img{
    width: 290px;
    height: 340px;

}

/* More Game Section Style */

.more-game-content{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap: 30px;
    
}


.more-game{
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.more-game img{
    width:20% ;
}
.more-game p{
    margin-left: 10px;
    font-size: 0.8rem;
}



/* Footer Section Style */
.footer{
    background: #0B0223;
}
.footer-logo-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 0;
}
.footer-logo-content img{
    width: 70px;
}
.footer-logo{
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}
.footer-logo span{
    background: var(--linear-pink-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}
.footer-link a{
    color: white;
    text-decoration: none;
    padding: 0px 20px 50px;
    font-size: 1.2rem;
    font-weight: 500;
}
.footer-link-icon{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0 310px;
    padding-bottom:55px ;
}
.footer-link-icon a{
    color: white;
    font-size: 2rem;
    padding: 0 20px;

}
.footer-policy{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    /* margin: 0 170px; */
    justify-content: center;
    padding-bottom: 40px;
}
.footer-policy a{
    color: #ffffff99;
    text-decoration: none;
    font-size: 1rem;
    font-weight:500 ;
    padding:0 15px;

}
.copyright{
    color: #ffffff99;
    display: flex;
    justify-content: center;
    font-weight: 400;
    padding-bottom: 50px;
}

/* Responsive  Style*/
/* Mobile Device */
@media screen and (max-width:576px) {
    nav, .banner, .games-video, .play-instantly, .copyright{
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        align-items: center;
        /* margin: 10px 5px; */
        padding: 10px 0;
        line-height: 35px;
    }
    .banner-title{
        font-size: 1.9rem;
    }
    .banner-text{
        font-size: 3.7rem;
        align-items: center;
    }
    .banner-para{
        font-size: 0.9rem;
    }
    .btn{
        font-size: 0.6rem;
        padding: 15px 25px;
        margin-right: 8px;

    }
    .btn-icon{
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .banner img{
        margin: 0 35px;
    }
    /* Online Games video Section  */
    .games-video{
        margin: 0 40px;
    }
    .games-title{
        font-size: 1.6rem;
        font-weight: 600;
    }
    .games-description{
        font-size: 1rem;
        margin-top: 5px;
    }
    .videos-title{
        font-size: 1rem;
    }
    /* Play Instantly section */
    .play-content{
        bottom: 0;
        margin-left: 40px;
    }
    .play-title{
        font-size: 2.5rem;
        font-weight: 600;
    }
    .play-description{
        font-size: 1rem;
        align-items: center;
    }
    .play-image{
        margin: 0 15px;
    }
    .play-image img{
        width: 120%;
        height: 100%;
    }
    .play-sm-img img{
        width: 60%;
        height: 70%;
        position: relative;
        top: 190px;
        left: 90px;
    }
       /* More Game */
       .more-game-content{
        grid-template-columns:repeat(3,3fr);
        margin-right: 20px;
    }
    .more-game img{
        width: 30%;
    }
    .more-game p{
        font-size: 0.6rem;
    }
    .game{
       padding: 0 5px;
    }

    /* Footer Section */
    .footer-link{
        grid-template-columns: repeat(3,2fr);
    }
    .footer-link a{
        font-size: 0.9rem;
    }
    .footer-link-icon{
        grid-template-columns: repeat(3,2fr);
        margin: 20px 90px;
    }
    .footer-link-icon a{
        padding: 10px 0;
    }
    .footer-policy{
        grid-template-columns: repeat(2,2fr);


    }
    .footer-policy a{
        padding: 10px;
        gap: 50px;
        font-size: 0.74rem;
        margin-left: 40px;
    }
    .copyright p{
        font-size: 0.7rem;
        margin-left: 20px;
    }
 
}

/* Responsive For Tablet*/
@media screen and (min-width : 576px) and (max-width:768) {
    nav, .banner, .games-video, .play-instantly, .copyright{
        flex-direction: column;
    }
}
